body {
    font-family: Arial;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #3e7c08;
}

.font {
    text-transform: uppercase;
    font-size: 14pt;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.divLogo {
    width: 5%;
    float: left;
}

header .logo {
    float: left;
    width: 100%;
    background: #3e7c08;
}

.greyback {
    width: 100%;
    background: #3e7c08;
}

.img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.divMenuNgang {
    width: 95%;
    float: left;
    height: 40px;
}

.li {
    color: #c2e8a0;
    float: left;
    height: 38px;
    line-height: 40px;
    display: inline;
    text-overflow: initial;
    text-align: center;
}
/*.theli{
    content: "-";
}*/
.hr {
    width: 95%;
    margin-left: 21px;
    border: 1px solid #3e7c08;
    font-size: 1px;
    color: #3e7c08;
}

.ul {
    list-style-type: none;
    overflow: hidden;
    width: 95%;
}

.a {
    text-decoration: none;
    color: #c2e8a0;
    display: block;
}

    .a:link {
        color: #c2e8a0;
    }

    .a:hover {
        color: #fefffe;
        border-bottom: 5px solid #84f540;
    }

.LabelSoXe {
    color: #3e7c08;
    font-size: 16pt;
    font-weight: bold;
}

.LabelTang {
    font-weight: bold;
    text-transform: uppercase;
}

.textboxtimkiem {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #3e7c08;
    outline: 0px;
    height: 25px;
    width: 40%;
    background: #ffffff url(../image/search_icon.png) no-repeat;
    background-position: 99%;
    padding: 5px;
}

.textboxthuong {
    border-bottom: 1px solid #3e7c08;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    font-size: 12pt;
    font-weight: bold;
}

.textboxDen {
    border-bottom: 1px solid #000000;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    font-size: 12pt;
    font-weight: bold;
}

.divControlChitiet .txt input[type="text"]:focus {
    outline: none;
}

.textboxTien {
    font-size: 12pt;
    color: #3e7c08;
    font-weight: bold;
}

.titleNoiDung {
    color: #a3ce4e;
    margin-left: 10px;
    font-size: 15pt;
}

.mainmenuselected {
    text-decoration: underline;
    color: #fefffe;
}

.sidenavmenuUser .a:link {
    padding: 10px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #2C419B;
    display: block;
    transition: 0.5s;
}

.sidenavmenuUser {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    color: #2C419B;
    height: 20vh;
    border: 1px solid #68ccce;
    margin-top: 48px;
    margin-left: 8px;
}

    .sidenavmenuUser a:hover, offcanvas a:focus {
        text-decoration: underline;
        color: #84f540;
    }

    .sidenavmenuUser .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidenavmenuUser .ul {
        width: 100%;
        list-style-type: none;
        -webkit-padding-start: 20px !important;
    }

    .sidenavmenuUser ul.ul li {
        padding: 8px 0px 8px 0px;
    }

    .sidenavmenuUser ul.ul li {
        font-weight: bold;
        color: #7280bc;
    }

        .sidenavmenuUser ul.ul li a {
            text-decoration: none;
            font-weight: bold;
            color: #7280bc;
        }

            .sidenavmenuUser ul.ul li a:hover {
                color: #84f540;
                text-decoration: underline;
            }

.title {
    background-position: right, left 0px, 0px;
    background-size: 70px;
    background-image: url(../Image/border1.png), url(../image/border2.PNG);
    background-repeat: no-repeat, repeat-x;
    font-size: 13pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.divLeft {
    width: 20%;
    height: 84vh; /*vh là đơn vị màn hình thiết bị hiện tại*/
    float: left;
}

.box {
    box-shadow: 0px 2px 10px 3px #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
}

.txt {
    border: none;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
    font-size: 12pt;
}

.txtTenRieng {
    text-transform: uppercase;
}

.button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    border: none;
}

.maubt {
    background: #85ce68;
}

.mauBTCSKH {
    background: #ce686a;
}

.mauBTThem {
    background: #ffcc00;
}

.brl {
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
}

.brr {
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #ccc;
}

.brb {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.brt {
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
}
/*- Màu vé -*/
.VeChuaDat {
    background: #e4e4e4;
    border: 1px solid #3e7c08;
}

.VeDaThuTien {
    background: #a3ce4e;
    border: 1px solid #3e7c08;
}

.divLoaiVe {
    width: 40px;
    height: 20px;
}

.divLoaiDon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.DonTanNha {
    background: #f0ed08;
}

.DonDocDuong {
    background: #6a08f0;
}

.VeDangChon {
    border: 1px solid #68ccce;
    background: #ffffff;
}

.VeNguoiDungKhacChon {
    border: 1px solid #fe744b;
    background: #ffffff;
}

.VeChuaThuTien {
    background: #fe744b;
    border: none;
}

.VeDaiLyBan {
    background: #68ccce;
    border: none;
}
/*- Button giờ-*/
.buttonthuong {
    border: 1px solid #a3ce4e;
    font-weight: bold;
    padding: 5px;
    background: #ececec;
    width: 60px;
}

.buttonSelect {
    background: #a3ce4e;
    font-weight: bold;
    padding: 5px;
    width: 60px;
    border: 1px solid #a3ce4e;
}

.maubtHuy {
    background: #ce686a;
}

.maubtLuu {
    background: #85ce68;
}

.maubtIn {
    background: #68ccce;
}

.maubtBoQua {
    background: #ffce00;
}

.maubtInDS {
    background: #cec668;
}

.maubtnInDSDonKhach {
    background: #6a08f0;
    color: #ffffff;
}

.DonKhachTanNha {
    background-image: url('../image/daily.png');
    background-position: right 5px top 5px ;
    background-repeat: no-repeat;
    background-size: 21px;
}

.DonKhachDocDuong {
    background-image: url('../image/daily1.png');
    background-position:  right 5px top 5px;
    background-repeat: no-repeat;
    background-size: 21px;
}

.buttonInDS {
    background-image: url('../image/Smile-256.png');
    background-position: left;
    background-repeat: no-repeat;
    padding:10px;
}

.divGheDaThu {
    background: #a3ce4e;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.divGheChuaBan {
    background: #e4e4e4;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.divGheDaiLyBan {
    background: #68ccce;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.divGheBanChuaThu {
    background: #fe744b;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.divSoGhe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: 0.4;
    z-index: 1;
}

.divThongTin {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.NoidonDaBan {
    background: #6a08f0;
    color: #ffffff;
    border-radius: 0px 10px 0px 0px;
    font-size: 14pt;
    text-align: center;
}

.NoidonChuaBan {
    background: #d2d2d2;
    color: #ffffff;
    border-radius: 0px 10px 0px 0px;
    text-align: center;
}

.NoidonVeDLBan {
    background: #6a08f0;
    color: #ffffff;
    border-radius: 0px 10px 0px 0px;
    text-align: center;
}

.NoidonVeBanChuaThu {
    background: #6a08f0;
    color: #ffffff;
    border-radius: 0px 10px 0px 0px;
    text-align: center;
}

.LableDaBan {
    color: #ffffff;
    font-size: 48pt;
    font-family:'Bell MT';
    font-style: unset;
    text-align: center;
    opacity: 0.4;
}

.LabelChuaBan {
    color: #ffffff;
    font-size: 50pt;
    font-family:'Bell MT';
    font-style: unset;
    text-align: center;
    opacity: 0.4;
}

.LabelDLBan {
    color: #ffffff;
    font-size: 50pt;
    font-family:'Bell MT';
    font-style: unset;
    text-align: center;
    opacity: 0.4;
}

.LabelBanChuaThu {
    color: #8a6666;
    font-size: 50pt;
    font-family: 'Bell MT';
    font-style: unset;
    text-align: center;
    opacity: 0.4;
}

/*Xoay Label*/
.divXoayLabel {
    width: 100px;
    height: 150px;
}

div#myDiv {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
    vertical-align:top;
    text-align:center;
    font-weight:bold;
}
div#myDiv1{
        -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
    vertical-align:top;
    text-align:center;
     font-weight:bold;
}
