body {
 
}
@media (min-width: 1200px) {
    .divLon{
        width:100%;
        float:left;
        font-size:14pt;
    }
    .divDong{
        width:20%;
        float:left;

    }
      .divDongtennhom{
        width:20%;
        float:left;
    margin-top:15px;
    }
    .divLabeltennhom{
        width:33%;
        float:left;
        margin-left:5px;
    }
    .divControltennhom{
        width:60%;
        float:right;
    }
    .divDongdienthoai{
        width:20%;
        float:left;
    margin-top:15px;
    font-size:14pt;
    }
      .divLabeldienthoai{
        width:38%;
        float:left;
    }
    .divControldienthoai{
        width:60%;
        float:left;
    }
    .divDongdiachi{
        width:25%;
        float:left;
    margin-top:15px;
    font-size:14pt;
    }
      .divLabeldiachi{
        width:25%;
        float:left;
    }
    .divControldiachi{
        width:75%;
        float:left;
    }
   .divDongkhachhang{
        width:21%;
        float:left;
    margin-top:15px;
    }
      .divLabelkhachhang{
        width:43%;
        float:left;
    }
    .divControlkhachhang{
        width:55%;
        float:left;
    }
    .divDongdiemthuong{
        width:14%;
        float:left;
    margin-top:15px;
    }
      .divLabeldiemthuong{
        width:70%;
        float:left;
    }
    .divControldiemthuong{
        width:25%;
        float:left;
    }
    .button {
        margin-top:2%;
        padding:5px;
        font-size:14pt;
    }
    .title{
         font-size:14pt;
         background-size:60px;
    }
    .tdtxt{
         font-size:14pt;
    }
    .font{
         font-size:16pt;
    }
    .textboxtimkiem{
        font-size:14pt;
        padding:5px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
       .divLon{
        width:100%;
        float:left;
        font-size:14pt;
    }
    .divDong{
        width:20%;
        float:left;
    margin-top:15px;
    }
      .divDongtennhom{
        width:35%;
        float:left;
    margin-top:2%;
    
    }
    .divLabeltennhom{
        width:27%;
        float:left;
        margin-left:10px;
    }
    .divControltennhom{
        width:70%;
        float:left;
    }
    .divDongdienthoai{
        width:27%;
        float:left;
    margin-top:2%;
    }
      .divLabeldienthoai{
        width:36%;
        float:left;
    }
    .divControldienthoai{
        width:63%;
        float:left;
    }
    .divDongdiachi{
        width:38%;
        float:left;
    margin-top:2%;
    }
      .divLabeldiachi{
        width:17%;
        float:left;
    }
    .divControldiachi{
        width:83%;
        float:left;
    }
   .divDongkhachhang{
        width:50%;
        float:left;
    margin-top:2%;
    }
      .divLabelkhachhang{
        width:25%;
        float:left;
        margin-left:10px;
    }
    .divControlkhachhang{
        width:72%;
        float:left;
    }
    .divDongdiemthuong{
        width:50%;
        float:left;
    margin-top:2%;
    }
      .divLabeldiemthuong{
        width:28%;
        float:left;
    }
    .divControldiemthuong{
        width:72%;
        float:left;
    }
    .button {
        margin-top:2%;
        font-size:14pt;
    }
    .textboxtimkiem{
        font-size:14pt;
    }
    .tdtxt{
        font-size:14pt;
    }
    .font{
        font-size:16pt;
    }
    .title{
        font-size:14pt;
        background-size:65px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
     .divLon{
        width:100%;
        float:left;
        font-size:14pt;
    }
    .divDong{
        width:20%;
        float:left;
    margin-top:15px;
    }
      .divDongtennhom{
        width:35%;
        float:left;
    margin-top:2%;
    
    }
    .divLabeltennhom{
        width:35%;
        float:left;
        margin-left:10px;
    }
    .divControltennhom{
        width:60%;
        float:left;
        
    }
    .divDongdienthoai{
        width:30%;
        float:left;
    margin-top:2%;
    }
      .divLabeldienthoai{
        width:40%;
        float:left;
    }
    .divControldienthoai{
        width:60%;
        float:left;
    }
    .divDongdiachi{
        width:35%;
        float:left;
    margin-top:2%;
    }
      .divLabeldiachi{
        width:24%;
        float:left;
    }
    .divControldiachi{
        width:75%;
        float:left;
    }
   .divDongkhachhang{
        width:50%;
        float:left;
    margin-top:2%;
    }
      .divLabelkhachhang{
        width:30%;
        float:left;
        margin-left:10px;
    }
    .divControlkhachhang{
        width:67%;
        float:left;
    }
    .divDongdiemthuong{
        width:50%;
        float:left;
    margin-top:2%;
    }
      .divLabeldiemthuong{
        width:31%;
        float:left;
    }
    .divControldiemthuong{
        width:65%;
        float:left;
    }
    .button {
        margin-top:2%;
        font-size:13pt;
    }
    .tdtxt{
        font-size:14pt;
    }
    .textboxtimkiem{
        padding:5px;
        font-size:13pt;
    }
    .font{
        font-size:16pt;
    }
    .title{
        font-size:14pt;
    }
}



@media (min-width: 481px) and (max-width: 767px) {
      .divLon{
        width:100%;
        float:left;
        font-size:14pt;
    }
    .divDong{
        width:20%;
        float:left;
    margin-top:20px;
    }
      .divDongtennhom{
        width:50%;
        float:left;
    margin-top:3%;
    
    }
    .divLabeltennhom{
        width:38%;
        float:left;
        margin-left:5px;
    }
    .divControltennhom{
        width:55%;
        float:left;
    }
    .divDongdienthoai{
        width:50%;
        float:left;
    margin-top:3%;
    }
      .divLabeldienthoai{
        width:40%;
        float:left;
    }
    .divControldienthoai{
        width:60%;
        float:left;
    }
    .divDongdiachi{
        width:50%;
        float:left;
    margin-top:3%;
    }
      .divLabeldiachi{
        width:27%;
        float:left;
        margin-left:5px;
    }
    .divControldiachi{
        width:70%;
        float:left;
    }
   .divDongkhachhang{
        width:50%;
        float:left;
    margin-top:3%;
    }
      .divLabelkhachhang{
        width:47%;
        float:left;
    
    }
    .divControlkhachhang{
        width:51%;
        float:left;
    }
    .divDongdiemthuong{
        width:100%;
        float:left;
    margin-top:3%;
    }
      .divLabeldiemthuong{
        width:25%;
        float:left;
        margin-left:5px;
    }
    .divControldiemthuong{
        width:70%;
        float:left;
    }
    .button {
        margin-top:2%;
        font-size:12pt;
    }
    .tdtxt{
        font-size:12pt;
    }
    .textboxtimkiem{
        font-size:12pt;
    }
    .font{
        font-size:15pt;
    }
    .title{
        font-size:14pt;
        background-size:65px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
      .divLon{
        width:100%;
        float:left;
        font-size:14pt;
    }
    .divDong{
        width:20%;
        float:left;
    margin-top:20px;
    }
      .divDongtennhom{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    
    }
    .divLabeltennhom{
        width:30%;
        float:left;
      
    }
    .divControltennhom{
        width:68%;
        float:left;
    }
    .divDongdienthoai{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldienthoai{
        width:37%;
        float:left;
    }
    .divControldienthoai{
        width:63%;
        float:left;
    }
    .divDongdiachi{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldiachi{
        width:21%;
        float:left;
        
    }
    .divControldiachi{
        width:77%;
        float:left;
    }
   .divDongkhachhang{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabelkhachhang{
        width:35%;
        float:left;
    
    }
    .divControlkhachhang{
        width:65%;
        float:left;
    }
    .divDongdiemthuong{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldiemthuong{
        width:40%;
        float:left;
   
    }
    .divControldiemthuong{
        width:30%;
        float:left;
    }
    .button {
        margin-top:4%;
        margin-bottom:4%;
        font-size:12pt;
    }
    .tdtxt{
        font-size:12pt;
    }
    .textboxtimkiem{
        width:70% !important;
        font-size:12pt;
    }
    .font{
        font-size:15pt;
    }
    .title{
        font-size:14pt;
        background-size:60px;
    }
}

@media (max-width: 320px) {
     .divLon{
        width:100%;
        float:left;
  
    }
    .divDong{
        width:20%;
        float:left;
    margin-top:20px;
    }
      .divDongtennhom{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    
    }
    .divLabeltennhom{
        width:30%;
        float:left;
      
    }
    .divControltennhom{
        width:68%;
        float:left;
    }
    .divDongdienthoai{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldienthoai{
        width:37%;
        float:left;
    }
    .divControldienthoai{
        width:63%;
        float:left;
    }
    .divDongdiachi{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldiachi{
        width:21%;
        float:left;
        
    }
    .divControldiachi{
        width:77%;
        float:left;
    }
   .divDongkhachhang{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabelkhachhang{
        width:35%;
        float:left;
    
    }
    .divControlkhachhang{
        width:65%;
        float:left;
    }
    .divDongdiemthuong{
        width:100%;
        float:left;
    margin-top:5%;
    margin-left:5px;
    }
      .divLabeldiemthuong{
        width:40%;
        float:left;
   
    }
    .divControldiemthuong{
        width:30%;
        float:left;
    }
    .button {
        margin-top:4%;
        margin-bottom:4%;
    }
    .tdtxt{
        font-size:12pt;
    }
    .textboxtimkiem{
        font-size:12pt;
        width:80% !important;
    }
}
